/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: times new roman, serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.consent-page {
  height: 100vh;
}
.consent-page .upper-container {
  text-align: center;
  background-color: #14213d;
  height: auto;
  padding: 5px 7%;
}
.consent-page .upper-container h1 {
  color: #fca311;
  font-size: 2rem;
  margin: 0px;
  padding: 3% 0;
}
.consent-page .upper-container p {
  font-size: 1.3rem;
  text-align: center;
  color: white;
  margin: 0px;
  padding-bottom: 3%;
}
.consent-page .consent-container .ant-result {
  padding-top: 7%;
}
.consent-page .consent-container .ant-result .ant-card-head .ant-card-head-title {
  overflow: auto;
  text-align: center;
  font-size: 1.5rem;
}
.consent-page .consent-container .ant-result .button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.consent-page .consent-container .ant-result .button-container .ant-btn {
  margin: 0 8px;
  color: #fca311;
  background-color: #14213d;
}
.consent-page .consent-container .ant-result .button-container #continue-btn {
  color: white;
}
.marker {
  position: absolute;
  height: 40px;
  width: 30px;
  left: -10px;
  top: -30px;
}
.evidence {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ant-popover {
  letter-spacing: 0.5px;
  width: 70%;
}
@media (min-width: 768px) {
  .ant-popover {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .ant-popover {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .ant-popover {
    width: 30%;
  }
}
.ant-popover .ant-popover-title {
  text-align: center;
}
.ant-popover .ant-popover-title .title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ant-popover .ant-popover-title .title-container div {
  font-weight: 600;
  font-size: 1.05rem;
  margin: 0px 10px;
}
.ant-popover .ant-popover-title div {
  color: #14213d;
}
.ant-popover .ant-popover-inner-content {
  font-size: 1.05rem;
}
.ant-popover .ant-popover-inner-content h3 {
  color: #14213d;
  letter-spacing: 0.5px;
}
.ant-popover .ant-popover-inner-content .evidence a {
  color: #14213d;
  letter-spacing: 0.5px;
}
.ant-popover .close-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.ant-popover .close-container .close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#timeline {
  background-color: #14213d;
  padding: 5%;
}
#timeline .ant-space {
  margin-bottom: 3%;
}
#timeline .ant-timeline-item-head {
  background-color: #ffffff;
}
#timeline .ant-timeline-item-head-blue {
  border: 3px solid;
  border-color: #fca311;
}
#timeline .ant-timeline-item-tail {
  border-left: 2px solid #ffffff;
}
#timeline .ant-timeline-item-content {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
@media (min-width: 992px) {
  #timeline {
    padding: 2%;
  }
}
.date-range-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.date-range-container div {
  margin: 0 1%;
}
.ant-picker-cell-in-view .ant-picker-cell-inner {
  color: #14213d;
}
.ant-picker-header-view {
  color: #14213d;
}
.ant-picker-date-panel .ant-picker-content th {
  color: #14213d;
}
.ant-picker-today-btn {
  font-weight: 500;
  letter-spacing: 1.5px;
}
.googlemap {
  height: 100vh;
  width: 100%;
  position: relative;
}
.autocomplete-search {
  color: black;
  position: absolute;
  display: flex;
  top: 5%;
  justify-content: center;
  width: 100%;
}
@media (min-width: 768px) {
  .autocomplete-search {
    margin: 0 auto;
    padding: 0 1%;
    justify-content: left;
    width: 100%;
  }
}
.autocomplete-search .ant-input {
  color: black;
}
.autocomplete-search .ant-input input::placeholder {
  /* Most modern browsers support this now. */
  color: black;
}
#map-search-box {
  width: auto;
}
.ant-dropdown {
  border: 2px solid #14213d;
  border-radius: 2px;
  background-color: #e5e5e5;
}
.ant-dropdown .ant-dropdown-menu-item .viewchange-link-active {
  background-color: white;
  color: #14213d;
  letter-spacing: 1px;
}
.ant-dropdown .ant-dropdown-menu-item .viewchange-link {
  letter-spacing: 1px;
  color: #14213d;
}
#viewchangeparent {
  position: fixed;
  left: 2%;
  bottom: 5%;
}
#viewchangeparent .ant-btn {
  font-size: 1rem;
  padding: 0px 10px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: white;
  background-color: #14213d;
  position: fixed;
  left: 2%;
  bottom: 5%;
}
#viewchangeparent .viewchange-button-timeline {
  color: #14213d;
  background-color: white;
  position: fixed;
  left: 2%;
  bottom: 5%;
}
.modal-incident-container {
  display: flex;
  flex-direction: column;
}
.modal-incident-container .modal-incident-title h2 {
  font-size: 1.3rem;
  text-align: left;
  color: black;
}
.modal-incident-container .modal-incident-title p {
  font-size: 1rem;
  color: black;
  font-weight: 500;
  margin-bottom: 25px;
}
.modal-incident-container .incident-links-container #evidence-link {
  border-top: 4px solid #b4b4b4;
}
.modal-incident-container .incident-links-container #evidence-link p {
  font-size: 1.1rem;
  border: 1px solid #ccd6dd;
  border-radius: 10px;
  padding: 5px;
  margin-top: 25px;
  background-color: white;
}
.modal-incident-container .incident-links-container #evidence-link p a {
  text-decoration: none;
  color: black;
}
.modal-incident-container .loader-and-tweet-embed-container {
  border-top: 4px solid #b4b4b4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-incident-container .loader-and-tweet-embed-container .loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal-incident-container .loader-and-tweet-embed-container .tweet-embed-container {
  margin: 20px 0px;
  width: 100%;
  margin-left: -100%;
}
