/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.consent-container {
  background-color: #202020;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 25vh;
}
.consent-container h1 {
  font-size: 2rem;
  text-align: center;
  padding: 0 25px;
}
.consent-container p {
  font-size: 1.3rem;
  text-align: center;
  padding: 0 25px;
}
.consent-container .consent-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  text-align: center;
}
@media (min-width:320px) {
  .consent-container .consent-card {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .consent-container .consent-card {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .consent-container .consent-card {
    width: 50%;
  }
}
.consent-container .consent-card h2 {
  font-size: 1.2rem;
  margin-bottom: 25px;
}
.consent-container .consent-card .ant-card-head {
  padding: 0;
}
.consent-container .consent-card .ant-card-head .ant-card-head-title {
  overflow: auto;
  text-align: center;
  font-size: 1.5rem;
}
.consent-container .consent-card .button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.marker {
  height: 25px;
  width: 25px;
}
.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.evidence {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ant-popover {
  width: 70%;
}
@media (min-width: 768px) {
  .ant-popover {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .ant-popover {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .ant-popover {
    width: 30%;
  }
}
.ant-popover .ant-popover-title {
  text-align: center;
}
.close-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
#timeline {
  padding: 0 5%;
}
@media (min-width: 992px) {
  #timeline {
    padding: 0;
  }
}
