@import 'variables';

.consent-page {
  height: 100vh;

  .upper-container {
    text-align: center;
    background-color: @backgroundColor;
    height: auto;
    padding: 5px 7%;

    h1 {
      color: @secondaryColor;
      font-size: 2rem;
      margin: 0px;
      padding: 3% 0;
    }
    p {
      font-size: 1.3rem;
      text-align: center;
      color: @white;
      margin: 0px;
      padding-bottom: 3%;
    }
  }

  .consent-container {
    .ant-result {
      padding-top: 7%;

      .ant-card-head {
        .ant-card-head-title {
          overflow: auto;
          text-align: center;
          font-size: 1.5rem;
        }
      }

      .button-container {
        .flexDisplay(row, center, center);
        .ant-btn {
          margin: 0 8px;
          color: @white;
          background-color: @backgroundColor;
        }
        #continue-btn {
          color: @secondaryColor;
        }
      }
    }
  }
}
