.marker {
  position: absolute;
  height: 40px;
  width: 30px;
  left: -10px;
  top: -30px;
  // background-color: red;
  // border-radius: 20px;
}

.title-container {
  .flexDisplay(row, space-between, center);
}

.evidence {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ant-popover {
  width: 70%;

  @media @medium {
    width: 50%;
  }

  @media @large {
    width: 40%;
  }

  @media @xlarge {
    width: 30%;
  }

  .ant-popover-title {
    text-align: center;
    div {
      color: #14213d;
    }
  }
}
.ant-popover-inner-content {
  h3 {
    color: #14213d;
  }

  .evidence a {
    color: #14213d;
  }
}

.close-container {
  width: 100%;
  .flexDisplay(row, center, center);
  margin-top: 2%;
  .close {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
