#timeline {
  background-color: #14213d;
  padding: 5%;

  .ant-space {
    margin-bottom: 3%;
  }

  .ant-timeline-item-head {
    background-color: #ffffff;
  }

  .ant-timeline-item-head-blue {
    border: 3px solid;
    border-color: #fca311;
  }

  .ant-timeline-item-tail {
    border-left: 2px solid #ffffff;
  }

  .ant-timeline-item-content {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }

  @media @large {
    padding: 2%;
  }
}

.date-range-container {
  .flexDisplay(row, center, center);
  div {
    margin: 0 1%;
  }
}
.ant-picker-cell-in-view .ant-picker-cell-inner {
  color: #14213d;
}

.ant-picker-header-view {
  color: #14213d;
}

.ant-picker-date-panel .ant-picker-content th {
  color: #14213d;
}

.ant-picker-today-btn {
  font-weight: 500;
  letter-spacing: 1.5px;
}
